<h2><%= @movie.title %> by <%= @movie.studio.name %></h2>

<h4>Movie Details</h4>
<ul>
  <li>Year Released: <%= @movie.creation_year %></li>
  <li>Genre: <%= @movie.genre %></li>
  <li>Actors:
    <ul>
      <% @movie.actors.order_by_age.each do |actor| %>
        <li><%= "#{actor.name}, age: #{actor.age}" %></li>
      <% end %>
    </ul>
  </li>
  <li>Actors Average Age: <%= @movie.actors.avg_age.round(1) %></li>
</ul>

<section id="add-actor">
  <%= form_tag movie_actors_path, method: :post do %>
    <%= label_tag :actor_name, "Add an Actor" %>
    <%= text_field_tag :actor_name %><br>
    <%= hidden_field_tag 'movie_id', @movie.id %>
    <%= submit_tag 'Submit' %>
<% end %>
</section>